.add-video-popup {
  width: 100%;

  .title {
    width: 100%;
    font-size: 1.5em;
    color: #37352F;
    font-weight: bold;
    margin: 20px 6%;
  }

  .fields {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    max-height: 400px;
    overflow: auto;

    .field {
      width: 41%;
      max-width: 300px;
      margin: 7px 0;
    }
  }

  .buttons {
    margin: 15px 6%;
    display: flex;
    justify-content: space-between;
  }
}