.home {
  background-color: #004d79;
  height: 100vh;
  width: 100%;
  overflow: hidden;

  .content {
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 25px 35px;

    .title {
      color: #37352F;
      font-family: Roboto, sans-serif;
      font-weight: 500;
      font-size: 2.1em;
      margin-top: 0;
      margin-bottom: 10px;
    }

    .buttons {
      padding-bottom: 5px;
      margin-bottom: 10px;
      white-space: nowrap;
      overflow: auto;

      .button {
        margin: 0 7px;
      }
    }

    .table-container {
      flex: 1;
      display: flex;
      overflow: hidden;
    }
  }
}