.video-table {
  flex: 1;
  
  .row {
    min-width: 100%;
    width: fit-content !important; // react-window sets the width to 100%, which we want to override
    white-space: nowrap;
    padding-left: 15px;
    &:hover {
      background-color: #f3f3f3;
    }

    &.header {
      color: #444444;
      font-weight: 500;
      background-color: white;
      .element {
        display: inline-flex;
        align-items: center;
        position: relative;
        cursor: grab;
        .edit-icon {
          visibility: hidden;
        }

        &:hover .edit-icon {
          visibility: visible;
        }
      }
    }

    .element {
      display: inline-block;
      width: 200px;
      max-width: 300px;
      overflow: hidden;
      vertical-align: middle;
      text-overflow: ellipsis;
      &.normal {
        margin-right: 20px;
      }
      &.row-number {
        font-weight: 600;
        font-family: monospace;
        font-size: 1.258em;
      }
    }
  }
}